body,
html,
a,
ol,
ul,
li,
nav,
p,
div,
section,
article,
header {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    vertical-align: inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-family: 'Press Start 2P', monospace;
}

body {
    background: url("../assets/webbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: snow;
}

canvas {
    border: 5px solid snow;
    border-radius: 10px;
    box-shadow: 0 0 5px #124;
}

a:link {
    color: snow;
}

a:visited {
    text-decoration: none;
    color: snow;
}

navbar {
    margin: 0 auto;
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

navbar ul li {
    font-size: 30px;
    padding-left: 15px;
}

#nav-left {
    margin-top: 5px;
    font-size: 15px;
}

#nav-center {
    text-shadow: 4px 3px #134;
    color: white;
    font-size: 30px;
    padding-right: 55px;
    padding-left: 55px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

#content-wrapper {
    margin-top: 5px;
    display: flex;
    position: relative;
}

#main-content {
    width: 90vw;
    position: relative;
}

#mute {
    border: 1px solid snow;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    padding: 10px 15px;
    text-align: center;
    width: 180px;
    color: #124;
    background: snow;
    position: absolute;
    font-size: 13px;
}

#mute:hover {}

#instructions:hover {
  border: 2px solid snow;
}

#instruction-title {
  font-size: 25px;
  text-decoration: underline;
}

#wasd {
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 350px;
    margin: 10px;
    width: auto;
    height: 100px;
    z-index: 4;
    text-align: justify;
}

#shift {
    flex-direction: column;
    position: absolute;
    top: 290px;
    right: 350px;
    margin: 10px;
    width: auto;
    height: 100px;
    z-index: 4;
    text-align: justify;
}

img {
  width: 40%;
  height: auto;
}

#open-instructions {
  position: absolute;
  z-index: 4;
  font-size: 10px;
  top: 7px;
  right: 228px;
  display: none;
}